.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

input{
    background-color:pink;
    color:purple;
    font-family:' dancing-script';
    }
    
body {
    background-color: yellow;
}

.siliconValley {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}



#result {
    margin-top: 10px;
    color: white;
    background-color: skyBlue;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}

body{

    margin-left:20px;
}
.saving{
    color:black;
    background-color:pink;
    height:15px;
    width:30px;
}

.header a:hover {
  background-color:#a6d6f6;
  color: red;
  border-radius:75%;
}

.result {
   text-align:center;
}